<bs-navbar></bs-navbar>

<div class="container">
<router-outlet></router-outlet>
<div class="intro">
  <div class="item"><img src="../assets/Profile.jpg" alt=""></div>
  <div class="item-general">
    <div class="general_info_content_inner mCustomScrollbar _mCS_1 mCS-autoHide" data-mcs-theme="minimal-dark" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr">
      <div class="general_info_title">General Information</div>
      <ul class="general_info_list">
        <li class="d-flex flex-row align-items-center justify-content-start">
          <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_1.png" alt="" class="mCS_img_loaded"></div>
          <div class="general_info_text">Name: <span>Jeremy Smith</span></div>
        </li>
        <li class="d-flex flex-row align-items-center justify-content-start">
          <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"></div>
          <div class="general_info_text">Location: <span>London UK</span></div>
        </li>
        <li class="d-flex flex-row align-items-center justify-content-start">
          <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_2.png" alt="" class="mCS_img_loaded"></div>
          <div class="general_info_text">Date of Birth: <span>August 25, 1991</span></div>
        </li>
        <li class="d-flex flex-row align-items-center justify-content-start">
          <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_3.png" alt="" class="mCS_img_loaded"></div>
          <div class="general_info_text"><a href="mailto:contact@linque.com?subject=Job_Inquiry">contactme@templatename.com</a></div>
        </li>
        <li class="d-flex flex-row align-items-center justify-content-start">
          <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_4.png" alt="" class="mCS_img_loaded"></div>
          <div class="general_info_text">+76 6524 567862 763</div>
        </li>
        <li class="d-flex flex-row align-items-center justify-content-start">
          <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="images/icon_5.png" alt="" class="mCS_img_loaded"></div>
          <div class="general_info_text"><a href="mailto:contact@linque.com">www.mytemplatename.com</a></div>
        </li>
      </ul>
  </div>
  </div>
</div>